<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ASWebAuthenticationSessionWebBrowserSupportCapabilities</key>
	<dict>
		<key>EphemeralBrowserSessionIsSupported</key>
		<true/>
		<key>IsSupported</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>io.leow.pigeon</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pigeon</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
